<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">REGISTRAR EMPRESA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form action="">
    <ion-item>
      <ion-label position="floating">Número de la empresa</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de la empresa</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">No. de trampas interiores</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">No. de trampas exteriores</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">No. de lámparas</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input placeholder="Dirección"></ion-input>
      <ion-input placeholder="Ciudad"></ion-input>
      <ion-input placeholder="Estado"></ion-input>
      <ion-input placeholder="Código Postal"></ion-input>
    </ion-item>
  </form>
  <ion-button class="registrar">REGISTRAR</ion-button>
</ion-content>