<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small">REPORTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empresas">
    <ion-button color="dark">
      <div class="text">
        Tehuacán
      </div>
      <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    </ion-button>
    <ion-button color="dark">
      <div class="text">
        Ajalpan
      </div>
      <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    </ion-button>
  </div>
</ion-content>