<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small">GRÁFICAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="text-center">
    <ion-col class="">
      <ion-chip>
        <ion-label color="primary"> Arañas</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col class="">
      <ion-chip>
        <ion-label color="primary"> Araña</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

  <ion-row class="text-center">
    <ion-col  class="">
      <ion-chip>
        <ion-label color="secondary"> tijerillas</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col class="">
      <ion-chip>
        <ion-label color="warning"> sin observar</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <canvas #barChart></canvas>
  </ion-card-content>

</ion-content>