<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small">GRUPO ZANGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <div class="head">
    <ion-item>
      <ion-label>Bienvenido <br> ¿Qué deseas hacer?</ion-label>
    </ion-item>
  </div>
  <div class="content">
    <ion-button class="button1" (click)="registrarEmpresa()">Registrar empresa</ion-button>
    <br>
    <ion-button (click)="analizarEmpresa()">Analizar empresa</ion-button>
  </div>
</ion-content>
